<div class="form-registro">
    <form action="/added" class="form-control">
        {{form.nombre.label(class='form-label')}}
        {{form.nombre(class='form-control')}}
        {{form.apellido_paterno.label(class='form-label')}}
        {{form.apellido_paterno(class='form-control')}}
        {{form.apellido_materno.label(class='form-label')}}
        {{form.apellido_materno(class='form-control')}}
        {{form.correo.label(class='form-label')}}
        {{form.correo(class='form-control')}}
        {{form.telefono.label(class='form-label')}}
        {{form.telefono(class='form-control')}}
        {{form.matricula.label(class='form-label')}}
        {{form.matricula(class='form-control')}}
        {{form.carrera.label(class='form-label')}}
        {{form.carrera(class='form-control')}}
        {{form.modalidad.label(class='form-label')}}
        {{form.modalidad(class='form-control')}}
        <br>
        <input type="submit" value="Registrarme" class="form-control btn btn-primary">
    </form>
    </div>
